<app-back-button [linkTo]="'/'"></app-back-button>
<app-spinner *ngIf="!code"></app-spinner>
<mat-card *ngIf="code">
  <header class="card-header">
    <app-header [text]="code.name"></app-header>
    <div>
      <p class="paragraph accent">
        {{ code.type }} <app-list-icon [type]="code.type"></app-list-icon>
      </p>
    </div>
  </header>
  <section class="paragraph">{{ code.desc }}</section>
  <app-code-block [codeBlock]="code.codeBlock"> </app-code-block>
  <section *ngIf="isAuth" class="edit-buttons">
    <button mat-button color="accent" routerLink="/codes/{{ code.id }}/edit">
      Edit
    </button>
    <button mat-button color="warn" (click)="onDelete(code)">
      Delete
    </button>
  </section>
</mat-card>
