/* You can add global styles to this file, and also import other style files */
@import "./scss/variables";
@import "./scss/mixins";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $body-font;
}

#page-container {
  min-height: 100vh;
}
#main {
  overflow: auto;
  padding-bottom: 40px;
  padding: 15px;
  height: 100%;
}
#footer {
  border-top: 4px solid $primary;
  height: 40px;
  background-color: #eee;
  color: $accent;
  margin-top: -40px;
  padding: 10px;
  @include centerX;
  clear: both;
}

// The majority of styles are controlled from here throughout the app, simply for ease of access during development

// Colors
.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

// Typography
.heading {
  font-family: $title-font;
  color: $primary;
  font-size: 1.5rem;
}

.paragraph {
  font-family: $body-font;
}

// Flex spacing
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  @include centerX;
}

// Specifics
.login {
  max-width: 350px;
  @include centerX;
}

.login-form {
  @include centerX;
}

.input {
  @include input-style;
}

.input-textarea {
  @include input-style;
}

.form-block {
  @include flex-col;
}

// Other

.pointer {
  cursor: pointer;
}
