/* You can add global styles to this file, and also import other style files */
@import "./scss/variables";
@import "./scss/mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $body-font;
}

// The majority of styles are controlled from here throughout the app, simply for ease of access during development

.primary {
  color: $primary;
}

.accent {
  color: $accent;
}

.page-container {
  padding: 20px;
}

.pointer {
  cursor: pointer;
}

.center {
  @include centerX;
}

.login {
  max-width: 350px;
  @include centerX;
}

.login-form {
  @include centerX;
  //  margin: auto;
}

.heading {
  font-family: $title-font;
  color: $primary;
  font-size: 1.5rem;
}

.paragraph {
  font-family: $body-font;
}

.input {
  @include input-style;
}

.input-textarea {
  @include input-style;
}

.form-block {
  @include flex-col;
}
